@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

*{
  font-family: "Roboto";
}
.banner-image{
  width: 50vw;
}
.shadowCSA{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

@media screen and (max-width:576px){
  .banner-image{
    width: 100vw;
  }
  
}
